@{
    Layout = "~/Views/Shared/_Layout_List.cshtml";
}

<script src="~/Scripts/vendor/echarts/echarts.js"></script>
<!-- 为ECharts准备一个具备大小（宽高）的Dom -->
<div id="main" style="width: 800px;height:400px;"></div>
<script type="text/javascript">
    // 基于准备好的dom，初始化echarts实例
    var myChart = echarts.init(document.getElementById('main'));
    $(function () {
        $.getJSON('/Test/GetChartData', {}, function (resJson) {
            // 指定图表的配置项和数据
            var option = {
                xAxis: {
                    type: 'category',
                    boundaryGap: false,
                    data: resJson.XData
                },
                yAxis: {
                    type: 'value'
                },
                series: [{
                    data: resJson.YData,
                    type: 'line',
                    smooth: true,
                    areaStyle: {}
                }]
            };
            // 使用刚指定的配置项和数据显示图表。
            myChart.setOption(option);

        });
    });
</script>
